{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.11.4.custom/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.11.4.custom/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clean-blog.css' %}">
    

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block css %}    
    {% endblock %}
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'app_blog:index' %}">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'app_blog:noticias' %}" >Noticias</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:curriculum' %}" >Curriculum</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:calculadora' %}" >Calculadora</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:contactanos' %}" >Contactanos</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:conversor' %}" >Conversor</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:imagenes' %}"  >Imagenes</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:pregunta' %}">Pregunta</a>
                    </li>
                    <li>
                        <a href="{% url 'app_blog:cronometro' %}">Cronometro</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% block header %}
{% endblock %}
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% block content %}
    {% endblock %}
            </div>
        </div>
</div>

    <footer >        
        <div class="container" >
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">
                        De los creadores de <a href="http://tulp-project.appspot.com/">Tulp</a>&copy; :  Lince's Blog&copy; <i class="fa fa-university "></i>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
        {% block script %}
        {% endblock %}
</body>
    

</html>

    