{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <div style="float:left; width:20%;">
            <img src="{% static 'css/Images/lince.jpg' %}" width='150' height='150'>
        </div>
        <div style="float:left; width:70%;">
            <h2> Ulises Torrella</h>
            <p align="right"> <b>Edad</b>: 17<br>
                <b>Institucion</b>: ITS Villada<br>
                <b>Profecion</b>: Lince<br>
                <b>Ciudadania</b>: Argentina<br>
            </p>
        </div>
       
{% endblock %}